$custom-primary-color: rgb(255, 78, 202);
$custom-secondary-color: rgb(72, 173, 255);

$theme-colors: (
  "primary": $custom-primary-color,
  "secondary": $custom-secondary-color,
  "success": $custom-secondary-color,
);


$body-bg: rgb(27, 27, 27);
$body-color: rgb(255, 246, 255);

$jumbotron-color: #fff;
$jumbotron-bg: rgb(27, 27, 27);


@import "~bootstrap/scss/bootstrap";


$font-size: 1rem;
$bg-color: rgb(31, 31, 31);

html {
  font-size: $font-size;
  background-color: $bg-color;
}